openapi: 3.0.3

info:
  version: "1.0.0"

  title: FleetWorks.ai API Documentation
  x-logo:
    url: "https://www.fleetworks.ai/logo.png"

  description: This is the documents for FleetWorks.ai API specification

tags:
  - name: Ingestion
    description: Ingest loads to FleetWorks system
  - name: Calls
    description: Endpoints for calls
  - name: Bids
    description: Endpoints for bids
  - name: Carriers
    description: Endpoints for carriers
  - name: Custom Use Cases
    description: Custom AI agent use case
  - name: Analytics
    description: Analytics endpoints
servers:
  - url: "https://api.fleetworks.ai"

paths:
  "/api/v1/webhooks/loads/events":
    $ref: "inboundWebhooks/loadEventApi.yaml#/paths/~1"
  "/api/v1/webhooks/carrier/events":
    $ref: "inboundWebhooks/carrierEventApi.yaml#/paths/~1"
  "/api/v1/calls":
    $ref: "exportEndpoints/exportCalls.yaml#/paths/~1"
  "/api/v1/calls/caller/{phoneNumber}":
    $ref: "exportEndpoints/exportCallsCaller.yaml#/paths/~1"
  "/api/v1/bids":
    $ref: "exportEndpoints/exportBids.yaml#/paths/~1"
  "/api/v1/carriers":
    $ref: "exportEndpoints/exportCarriers.yaml#/paths/~1"
  "/api/v1/custom-use-cases/{agentId}/create-phone-call":
    $ref: "customUseCases/calls.yaml#/paths/~1"
  "/api/v1/analytics":
    $ref: "exportEndpoints/exportAnalytics.yaml#/paths/~1"
  "/api/v1/price-data":
    $ref: "exportEndpoints/exportPriceData.yaml#/paths/~1"

components:
  securitySchemes:
    auth:
      type: http
      scheme: bearer
      description: An authentication token that identifies the organization associated with the event. You can reach out to FleetWorks team to request a token.

  responses:
    ErrorResponse:
      description: Error response
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string

  schemas:
    PaginationResponse:
      description: Pagination response
      type: object
      properties:
        limit:
          type: number
        offset:
          type: number
        total:
          type: number

    AnalyticsResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              date:
                type: string
                format: date-time
              metrics:
                type: object
                properties:
                  totalCalls:
                    type: number
                  successfulCalls:
                    type: number
                  averageCallDuration:
                    type: number
                  totalBids:
                    type: number
                  acceptedBids:
                    type: number
        pagination:
          $ref: "#/components/schemas/PaginationResponse"
      required:
        - data
        - pagination
    PriceDataResponse:
      type: object
      properties:
        marketAnalytics:
          $ref: "#/components/schemas/MarketPriceMetrics" 
        pagination:
          $ref: "#/components/schemas/PaginationResponse"
      required:
        - loads
        - marketAnalytics
        - pagination

    LoadPriceEntry:
      type: object
      properties:
        loadId:
          type: string
          description: Unique identifier for the load
        origin:
          type: string
          description: Origin location of the load
        destination:
          type: string
          description: Destination location of the load
        equipmentType:
          type: string
          description: Type of equipment required
        miles:
          type: number
          description: Total miles for the load
        postedRate:
          type: number
          description: Rate posted by the broker
        ratePerMile:
          type: number
          description: Rate per mile calculation
        postDate:
          type: string
          format: date-time
          description: Date and time the load was posted
      required:
        - loadId
        - origin
        - destination
        - equipmentType
        - miles
        - postedRate
        - ratePerMile
        - postDate

    MarketPriceMetrics:
      type: object
      properties:
        laneAverageRate:
          type: number
          description: Average rate for loads in this lane
        marketAverageRate:
          type: number
          description: Average rate across all lanes in the market
        ratePerMileTrend:
          type: number
          description: Trend in rate per mile over the selected period
        volumeTrend:
          type: number
          description: Trend in load volume over the selected period
        dayRangeSpread:
          type: number
          description: Spread between highest and lowest rates in the period
      required:
        - laneAverageRate
        - marketAverageRate
        - ratePerMileTrend
        - volumeTrend
        - dayRangeSpread
