openapi: 3.0.3

info:
  version: "1.0.0"

  title: FleetWorks.ai API Documentation
  x-logo:
    url: "https://www.fleetworks.ai/logo.png"

  description: This is the documents for FleetWorks.ai API specification

tags:
  - name: Ingestion
    description: Ingest loads to FleetWorks system
  - name: Calls
    description: Endpoints for calls
  - name: Bids
    description: Endpoints for bids
  - name: Carriers
    description: Endpoints for carriers
  - name: Custom Use Cases
    description: Custom AI agent use case
servers:
  - url: "https://api.fleetworks.ai"

paths:
  "/api/webhooks/loads/events":
    $ref: "inboundWebhooks/loadEventApi.yaml#/paths/~1"
  "/api/webhooks/carrier/events":
    $ref: "inboundWebhooks/carrierEventApi.yaml#/paths/~1"
  "/api/v1/calls":
    $ref: "exportEndpoints/exportCalls.yaml#/paths/~1"
  "/api/v1/bids":
    $ref: "exportEndpoints/exportBids.yaml#/paths/~1"
  "/api/v1/carriers":
    $ref: "exportEndpoints/exportCarriers.yaml#/paths/~1"
  "/api/v1/custom-use-cases/{agentId}/calls":
    $ref: "customUseCases/calls.yaml#/paths/~1"

components:
  securitySchemes:
    auth:
      type: http
      scheme: bearer
      description: An authentication token that identifies the organization associated with the event. You can reach out to FleetWorks team to request a token.

  responses:
    ErrorResponse:
      description: Error response
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string

  schemas:
    PaginationResponse:
      description: Pagination response
      type: object
      properties:
        limit:
          type: number
        offset:
          type: number
        total:
          type: number
